<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="SPRING" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %-5level | %logger{1.} | %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="RESULT_VIEWER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INTERNAL_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level | %logger{1.} | %msg%n%n</pattern>
        </encoder>
    </appender>

    <logger name="edu.bank" level="INFO" additivity="false">
        <appender-ref ref="RESULT_VIEWER"/>
    </logger>

    <logger name="edu.bank.command.lifecycle.CommandExceptionHandler" level="ERROR" additivity="false">
        <appender-ref ref="INTERNAL_ERROR"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="SPRING"/>
    </root>

</configuration>